<div id="my">
	<div class="form-group">
	  <input type="text" class="form-control" name="username" id="mainInfo_adminid" 
	  placeholder="아이디" />
	</div>

	<div class="form-group">
	  <input type="password" class="form-control" name="password" id="mainInfo_adminpwd" placeholder="비밀번호" />
	</div>
	
	<div class="form-group">
	  <input type="password" class="form-control" name="key" id="mainInfo_adminkey" 
	  placeholder="key"/>
	</div>
	<button type="submit" name="key" class="btn btn-default">LOGIN</button>
</div>	