<div id="my" class="container">
	<h1>SEARCH</h1>
	<div class="row">
		<div class="col-xs-8">
			<div class="input-group">
				<div class="input-group-btn search-panel">
					<button type="button" class="btn btn-default dropdown-toggle"
						data-toggle="dropdown">
						<span id="search_concept">Filter by</span> <span class="caret"></span>
					</button>
					<ul class="dropdown-menu" role="menu">
						<li><a href="#contains">Contains</a></li>
						<li><a href="#its_equal">It's equal</a></li>
					</ul>
				</div>
				<input type="hidden" name="search_param" value="all"
					id="search_param"> <input type="text" class="form-control"
					name="x" placeholder="Search term..."> <span
					class="input-group-btn">
					<button class="btn btn-default" type="button">
						<span class="glyphicon glyphicon-search"></span>
					</button>
				</span>
			</div>
		</div>
	</div>
	<div class="row">
		<div class="finder_color col-xs-12">
			<h4 class="finder_color_tit">색상선택</h4>
			<ul class="finder_color_list">
				<li class="color_16"><a href="/search/color" data-filter-name="color"
					data-filter-value="16" title="빨간색">빨간색<span>선택</span></a>
				<!--N=a:rcc*b.color--></li>
				<!-- [D] 활성화시 class="on" 추가 -->
				<li class="color_256"><a href="#" data-filter-name="color"
					data-filter-value="256" title="노란색">노란색<span>선택</span></a>
				<!--N=a:rcc*b.color--></li>
				<!-- [D] 활성화시 class="on" 추가 -->
				<li class="color_2048"><a href="#" data-filter-name="color"
					data-filter-value="2048" title="초록색">초록색<span>선택</span></a>
				<!--N=a:rcc*b.color--></li>
				<!-- [D] 활성화시 class="on" 추가 -->
				<li class="color_16384"><a href="#" data-filter-name="color"
					data-filter-value="16384" title="네이비">네이비<span>선택</span></a>
				<!--N=a:rcc*b.color--></li>
				<!-- [D] 활성화시 class="on" 추가 -->
				<li class="color_8"><a href="#" data-filter-name="color"
					data-filter-value="8" title="흰색">흰색<span>선택</span></a>
				<!--N=a:rcc*b.color--></li>
				<!-- [D] 활성화시 class="on" 추가 -->
				<li class="color_4"><a href="#" data-filter-name="color"
					data-filter-value="4" title="회색">회색<span>선택</span></a>
				<!--N=a:rcc*b.color--></li>
				<!-- [D] 활성화시 class="on" 추가 -->
				<li class="color_1"><a href="#" data-filter-name="color"
					data-filter-value="1" title="검정색">검정색<span>선택</span></a>
				<!--N=a:rcc*b.color--></li>
				<!-- [D] 활성화시 class="on" 추가 -->
				<li class="color_512"><a href="#" data-filter-name="color"
					data-filter-value="512" title="카키색">카키색<span>선택</span></a>
				<!--N=a:rcc*b.color--></li>
				<!-- [D] 활성화시 class="on" 추가 -->
				<li class="color_131072"><a href="#" data-filter-name="color"
					data-filter-value="131072" title="보라색">보라색<span>선택</span></a>
				<!--N=a:rcc*b.color--></li>
				<!-- [D] 활성화시 class="on" 추가 -->
				<li class="color_32768"><a href="#" data-filter-name="color"
					data-filter-value="32768" title="분홍색">분홍색<span>선택</span></a>
				<!--N=a:rcc*b.color--></li>
				<!-- [D] 활성화시 class="on" 추가 -->
			</ul>
		</div>
	</div>
	<div class="row">
	</div>
</div>