<div id="my">
   <div class="form-group">
      <input type="text" class="form-control" name="username" id="mainInfo_userid" 
      placeholder="아이디" />
   </div>

   <div class="form-group">
      <input type="password" class="form-control" name="password" id="mainInfo_userpwd" placeholder="비밀번호" />
   </div>
   <button type="submit" name="key" class="btn btn-default">LOGIN</button>
   <a href="/main/signup" type="submit" class="btn btn-default" id="">JOIN</a>
</div>	